//VARIABLES
$blanco: #FFFFFF
$naranja: rgba(255, 133, 27, 1)
$marca: #ff7400
$naranja2: rgba(255, 133, 27, 1)
$naranja3: rgba(255, 133, 27, .5)

$fuente: regular, Arial

@font-face
	font-family: regular
	font-style: normal
	font-weight: normal
	src: url(../fonts/normal.ttf)
//RESET
*
	margin: 0
	padding: 0
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	-ms-box-sizing: border-box
	-o-box-sizing: border-box
	box-sizing: border-box
	font-family: regular

//IMPORTS
@import _menu
@import _contacto
@import _posiciones

body
	background: #FFF

.pantalla-uno
	padding: 0px

.pantalla-dos
	background: url(../img/pantallas/1.png)   no-repeat
	background-position: right
	background-size: cover
	width: 100%
	height: 100%

.pantalla-tres
	background: url(../img/pantallas/2.png)  center no-repeat
	background-position: left
	background-size: cover
	width: 100%
	height: 100%

.pantalla-cuatro
	background: url(../img/pantallas/3.png)  center no-repeat
	background-position: center center no-repeat
	background-size: cover
	width: 100%
	height: 100%

.pantalla-cinco
	background: url(../img/pantallas/4.png) no-repeat
	background-position: right
	background-size: cover
	width: 100%
	height: 100%
.pantalla-seis
	@extend .pantalla-cuatro
	h3
		margin-top: 20px

.recomendacion
	border: 1px solid black
	text-align: center
	font-size: 1.2em
	color: $blanco
	.perfil
		border: 4px solid $naranja
		display: block
		background-position: center
		background-size: cover
		margin: auto
		border-radius: 100%
		width: 200px !important
		height: 200px !important
.trabajo
	border: 1px solid black	
	font-size: 1em

.container
	color: $blanco
	font-size: 1.6em
	.secon
		padding-top: 30px
		text-align: right
	.logo
		width: 20%

.size
	height: 0px

img.center
	display: block
	margin: auto

.numero
	color: $naranja
	a
		color: $naranja
		text-decoration: none
	a:hover
		color: #020202
		transition: .5s

footer
	background: $naranja
	bottom: 0px
	color: white
	height: 40px
	position: absolute
	padding-top: 7px
	width: 100%
	z-index: 1200
	.row
		position: relative
	.marca
		position: absolute
		left: 10px
		top: 0px
		a
			color: white
			text-decoration: none
	.contacto
		a
			color: white
			text-decoration: none
	.icon-footer
		color: white
		margin: 0 10px
	
	.icons-wrapper 
		font-size: 1em
		position: absolute
		right: 15px
		top: 0px

@media screen and (max-width: 1572px)
	.pantalla-dos
		.container
			.row
				.logo
					display: none

@media screen and (max-width: 900px)
	.container
		text-align: center
		.secon
			padding-top: 30px
			text-align: center
		.logo
			display: hidden

	.pantalla-dos
		.container
			font-size: 1em
			div
				img
					width: 10%

	.pantalla-tres
		.container
			font-size: 0.8em
		img
			width: 50%

	.pantalla-cuatro
		.container
			font-size: 1em
		img
			width: 70%

	.pantalla-cinco
		.container
			font-size: 0.8em 
		img
			width: 50%
		.row
			margin-bottom: 0 !important
			h3
				margin-top: -20px !important
		.m6
			margin-bottom: 20px !important

	footer
		.contacto
			display: none

	div
		.fp-tablecell
			height: calc(100% - 70px)
@media screen and (max-width: 1400px)
	.pantalla-cuatro .row img
		width: 55%