@font-face {
  font-family: regular;
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/normal.ttf); }
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-family: regular; }

.menu-bar {
  display: none; }

.menu {
  display: inline-block;
  background: #FFFFFF;
  width: 100%;
  padding: 15px 0;
  overflow: hidden;
  font-family: regular, Arial; }
  .menu .links {
    float: right;
    margin-right: 10em; }
  .menu a {
    font-size: 1em;
    font-weight: 500;
    color: #000;
    padding: 20px 15px;
    transition: all 1s ease;
    text-decoration: none; }
  .menu a:hover {
    background: rgba(255, 133, 27, 0.9);
    color: #FFFFFF; }

.banner {
  background: url(../img/map.png) center no-repeat;
  background-position: center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: 1;
  width: 100%;
  height: 100%;
  text-align: center; }
  .banner .logo {
    height: auto;
    width: 30%;
    position: relative; }

@media screen and (max-width: 900px) {
  .menu {
    width: 70%;
    height: 100%;
    left: -100%;
    margin: 0;
    padding: 10px 5px;
    position: fixed;
    z-index: 2;
    background: rgba(255, 133, 27, 0.9);
    color: #FFF; }
    .menu .links {
      display: block;
      float: none;
      font-size: 1.2em;
      width: 100%; }
      .menu .links a {
        display: block;
        color: #FFFFFF;
        border-bottom: 1px solid #FFFFFF; }

  .menu-bar {
    display: block;
    width: 100%;
    padding: 20px;
    background: rgba(255, 133, 27, 0.9);
    top: 0; }
    .menu-bar span {
      letter-spacing: 0.3em; }
    .menu-bar .fa-bars {
      display: block;
      font-weight: bold;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      color: #fff; }

  .banner .logo {
    width: 60%; } }
@media screen and (max-width: 600px) {
  .banner .logo {
    width: 80%; } }
.formulario {
  width: 70%;
  height: auto;
  margin: auto; }
  .formulario input[type=text], .formulario input[type=email], .formulario textarea {
    border: 2px solid #B7B7B7;
    margin: 15px;
    border-radius: 5px;
    width: 70%;
    padding: 15px 20px;
    font-family: regular, Arial;
    font-size: 1.2em;
    color: #a4a4a4; }
  .formulario textarea {
    resize: none;
    height: 200px; }
  .formulario .boton {
    background: rgba(255, 133, 27, 0.9);
    border: none;
    display: inline-block;
    width: 70%;
    transition: all 1s ease;
    padding: 13px;
    color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid transparent;
    margin: 15px auto; }
  .formulario .boton:hover {
    background: #FFF;
    border: 1px solid rgba(255, 133, 27, 0.9);
    color: black; }

.mapa {
  width: 100%;
  text-align: center;
  font-family: regular, Arial;
  font-size: 1.5em;
  height: 100px;
  display: inline-block; }
  .mapa #map {
    width: 100%;
    height: 300px; }

.redes {
  width: 100%;
  display: block;
  font-size: 2em;
  background: rgba(255, 133, 27, 0.9);
  text-align: center;
  padding: 15px;
  margin: 15px 0; }
  .redes a {
    text-decoration: none;
    color: #FFF;
    margin: 0 50px; }

@media screen and (max-width: 900px) {
  .formulario {
    width: 90%; }
    .formulario input[type=text], .formulario input[type=email], .formulario textarea {
      width: 100%; }
    .formulario .boton {
      width: 100%; } }
body {
  background: #FFF; }

.pantalla-dos {
  background: url(../img/pantallas/1.png) no-repeat;
  background-position: right;
  background-size: cover;
  width: 100%;
  height: 100%; }

.pantalla-tres {
  background: url(../img/pantallas/2.png) center no-repeat;
  background-position: left;
  background-size: cover;
  width: 100%;
  height: 100%; }

.pantalla-cuatro {
  background: url(../img/pantallas/3.png) center no-repeat;
  background-position: center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%; }

.pantalla-cinco {
  background: url(../img/pantallas/4.png) no-repeat;
  background-position: right;
  background-size: cover;
  width: 100%;
  height: 100%; }

.container {
  color: #FFFFFF;
  font-size: 1.6em; }
  .container .secon {
    padding-top: 30px;
    text-align: right; }
  .container .logo {
    width: 20%; }

img.center {
  display: block;
  margin: auto; }

@media screen and (max-width: 900px) {
  .container {
    font-size: 1em;
    text-align: center; }
    .container .secon {
      padding-top: 30px;
      text-align: center; }
    .container .logo {
      display: hidden; } }

/*# sourceMappingURL=style.css.map */
